.art-page {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 18%;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: aqua;
    padding-left: 1em;
    opacity: 30%;
    float: left;
}

.zoomed-art {
    margin: auto;
    align-items: center;
    width: 40%;
    vertical-align: middle;
}

.content {
    width: 79.5%;
    max-height: 250vh;
    padding-left: 1em;
    float: right;
    background-color: maroon;
    flex-wrap: wrap;

    .art-container {
        img {
            width: 15vw;
        }
        
    }

    button { 
        outline: none;
        border: none;
        
    }

    
}

ul {
    list-style: none;
    display: flex;
    flex-flow: column wrap;
    max-height: 220vh;
    
    li {
        margin: 10px;
        // :hover {
        //     cursor: pointer;
        // }
    }
}
