.art-page {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 18%;
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: aqua;
    padding-left: 1em;
    opacity: 30%;
    float: left;
}

.content {
    width: 79.5%;
    max-height: 250vh;
    padding-left: 1em;
    float: right;
    background-color: maroon;

    .art-container {
        img {
            width: 20vw;
        }
        width: fit-content
    }

    ul {
        list-style: none;
        display: flex;
        flex-flow: column wrap;
        max-height: 220vh;
        width: fit-content;

        li {
            margin: 10px;
        }
    }
}
